html,
body {
  margin: 0;
  padding: 0;
}
#nav--main {
  position: relative;
  height: 600px;
  width: 1200px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px;
  background-image: url(./images/Rectanglebackground.svg);
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  background-size: cover;
}

#nav--aquaDAO {
  height: 23px;
  width: 79px;
  position: absolute;
  left: 60px;
  top: 20px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #c4c4c4;
}
#nav--need {
  height: 122px;
  width: 635px;
  position: absolute;
  left: 100px;
  top: 225px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  color: #c4c4c4;
}
#main--main {
  background-color: #c4c4c4;
  width: 1200px;
  height: 1400px;
}
#main--neededchange {
  position: absolute;
  height: 62px;
  width: 359px;
  left: 421px;
  top: 650px;
  border-radius: undefinedpx;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}

#main--creatingchange {
  color: #f2f7fa;
}
#main--needed {
  color: #6ec8fb;
}
#main--mission {
  color: #f2f7fa;
  position: absolute;
  height: 69px;
  width: 641px;
  left: 280px;
  top: 740px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
#main--doneback {
  position: absolute;
  background-color: #c4c4c4;
  height: 373px;
  width: 1100px;
  left: 50px;
  top: 870px;
  border-radius: 20px;
}
#main--done {
  position: absolute;
  height: 82px;
  width: 900px;
  left: 155px;
  top: 830px;
  border-radius: nullpx;
  color: #f2f7fa;
  font-family: Space Grotesk;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: center;
}
#main--paranthesis {
  color: #f2f7fa;
  font-family: Space Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  left: 148px;
  top: 249px;
}
#main--click {
  color: #6ec8fb;
  font-family: Space Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  left: 168px;
  top: 249px;
}
#main--clickcont {
  font-family: Space Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #f2f7fa;
  position: absolute;
  height: 233px;
  width: 500px;
  left: 250px;
  top: 250px;
  border-radius: nullpx;
}
#main--track {
  position: absolute;
  height: 62px;
  width: 269px;
  left: 50px;
  top: 1341px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
#main--trackone {
  color: #f2f7fa;
}
#main--tracktwo {
  color: #6ec8fb;
}
#main--paragraph {
  color: #f2f7fa;
  position: absolute;
  height: 92px;
  width: 641px;
  left: 50px;
  top: 1430px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
#main--randomrectangle1 {
  background-image: url(./images/realresultspic.jpeg);
  background-size: cover;
  position: absolute;
  height: 200px;
  width: 300px;
  left: 850px;
  top: 1360px;
  border-radius: 20px;
}
#main--commited {
  position: absolute;
  height: 62px;
  width: 269px;
  left: 881px;
  top: 1650px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: right;
}
#main--commitedone {
  color: #f2f7fa;
}
#main--commitedtwo {
  color: #6ec8fb;
}
#main--paragraph2 {
  color: #f2f7fa;
  position: absolute;
  height: 92px;
  width: 641px;
  left: 509px;
  top: 1730px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: right;
}
#main--randomrectangle2 {
  position: absolute;
  background-image: url(./images/biggestproblemspic.jpeg);
  background-size: cover;
  height: 200px;
  width: 300px;
  left: 50px;
  top: 1680px;
  border-radius: 20px;
  background-color: #c4c4c4;
}
#map--main {
  background-color: #c4c4c4;
  width: 1200px;
  height: 475px;
  position: absolute;
}
#map--what {
  color: #f2f7fa;
  position: absolute;
  height: 31px;
  width: 186px;
  left: 507px;
  top: 50px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}
#map--ellipse1 {
  background-image: url(./images/ellipse.png);
  position: absolute;
  height: 20px;
  width: 20px;
  left: 590px;
  top: 100px;
  border-radius: 0px;
}
#map--smallline {
  background-image: url(./images/Rectanglesmall.svg);
  position: absolute;
  height: 60px;
  width: 4px;
  left: 598px;
  top: 130px;
  border-radius: 2px;
}
#map--ellipse2 {
  background-image: url(./images/ellipse.png);
  position: absolute;
  height: 20px;
  width: 20px;
  left: 590px;
  top: 200px;
  border-radius: 0px;
}
#map--biglineright {
  background-image: url(./images/bigline.png);
  position: absolute;
  height: 4px;
  width: 380px;
  left: 620px;
  top: 208px;
  border-radius: 2px;
}
#map--ellipse3 {
  background-image: url(./images/ellipse.png);
  position: absolute;
  height: 20px;
  width: 20px;
  left: 1010px;
  top: 200px;
  border-radius: 0px;
}
#map--buildhomes {
  color: #6ec8fb;
  position: absolute;
  height: 23px;
  width: 228px;
  left: 906px;
  top: 230px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
#map--buildhomestext {
  color: #f2f7fa;
  position: absolute;
  height: 108px;
  width: 262px;
  left: 889px;
  top: 259px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
#map--empowercommunities {
  color: #6ec8fb;
  position: absolute;
  height: 23px;
  width: 228px;
  left: 486px;
  top: 230px;
  border-radius: nullpx;

  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
#map--empowercommunitiestext {
  color: #f2f7fa;
  position: absolute;
  height: 108px;
  width: 262px;
  left: 469px;
  top: 259px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
#map--biglineleft {
  background-image: url(./images/bigline.png);
  position: absolute;
  height: 4px;
  width: 380px;
  left: 200px;
  top: 208px;
  border-radius: 2px;
}
#map--ellipse4 {
  background-image: url(./images/ellipse.png);
  position: absolute;
  height: 20px;
  width: 20px;
  left: 170px;
  top: 200px;
  border-radius: 0px;
}
#map--drillwells {
  color: #6ec8fb;
  position: absolute;
  height: 23px;
  width: 228px;
  left: 66px;
  top: 230px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
#map--drillwellstext {
  color: #f2f7fa;
  position: absolute;
  height: 108px;
  width: 262px;
  left: 49px;
  top: 259px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
#launch--main {
  background-color: #c4c4c4;
  width: 1200px;
  height: 300px;
  position: absolute;
  top: 2400px;
}
#launch--prepare {
  position: absolute;
  height: 61px;
  width: 444px;
  left: 378px;
  top: 50px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: center;
}
#launch--preparefor {
  color: #f2f7fa;
}
#launch--launch {
  color: #6ec8fb;
}
#launch--savethedate {
  position: absolute;
  color: #f2f7fa;
  height: 23px;
  width: 241px;
  left: 490px;
  top: 140px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
#launch--socialmedia {
  position: absolute;
  color: #f2f7fa;
  height: 23px;
  width: 353px;
  left: 424px;
  top: 185px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
#launch--twitter {
  background-image: url(./images/twitter-round.svg);
  background-size: cover;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 480px;
  top: 250px;
  border-radius: 10px;
}
#launch--medium {
  background-image: url(./images/medium.svg);
  background-size: cover;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 550px;
  top: 250px;
  border-radius: 10px;
}
#launch--telegram {
  background-image: url(./images/telegram-black.svg);
  background-size: cover;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 620px;
  top: 250px;
  border-radius: 10px;
}

#launch--discord {
  background-image: url(./images/logo-discord.svg);
  background-size: cover;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 690px;
  top: 250px;
  border-radius: 10px;
}
#launch--copyright {
  color: #979797;
  position: absolute;
  height: 13px;
  width: 232px;
  left: 79px;
  top: 440px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  display: none;
}
#launch--decision {
  color: #979797;
  position: absolute;
  height: 13px;
  width: 303px;
  left: 43px;
  top: 450px;
  border-radius: nullpx;
  font-family: Space Grotesk;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  display: none;
}
@media only screen and (min-width: 1300px) {
  #nav--main {
    position: relative;
    height: 600px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: [object Object]px;
    background-image: url(./images/Rectanglebackground.svg);
    background-repeat: no-repeat;
    background-color: #c4c4c4;
    background-size: cover;
  }

  #nav--aquaDAO {
    height: 23px;
    width: 79px;
    position: absolute;
    left: 60px;
    top: 20px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #c4c4c4;
  }
  #nav--need {
    height: 122px;
    width: 635px;
    position: absolute;
    left: 100px;
    top: 225px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #c4c4c4;
  }
  #main--main {
    background-color: #c4c4c4;
    width: 100%;
    height: 1400px;
  }
  #main--neededchange {
    position: absolute;
    height: 62px;
    width: 359px;
    left: 500px;
    top: 650px;
    border-radius: undefinedpx;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
  }

  #main--creatingchange {
    color: #f2f7fa;
  }
  #main--needed {
    color: #6ec8fb;
  }
  #main--mission {
    color: #f2f7fa;
    position: absolute;
    height: 69px;
    width: 641px;
    left: 380px;
    top: 740px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #main--doneback {
    position: absolute;
    background-color: #c4c4c4;
    height: 373px;
    width: 1100px;
    left: 150px;
    top: 870px;
    border-radius: 20px;
  }
  #main--done {
    position: absolute;
    height: 82px;
    width: 795px;
    left: 300px;
    top: 820px;
    border-radius: nullpx;
    color: #f2f7fa;
    font-family: Space Grotesk;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: center;
  }
  #main--click {
    color: #6ec8fb;
    font-family: Space Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    left: 100px;
    top: 249px;
  }
  #main--clickcont {
    font-family: Space Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #f2f7fa;
    position: absolute;
    height: 233px;
    width: 500px;
    left: 180px;
    top: 250px;
    border-radius: nullpx;
  }
  #main--paranthesis {
    color: #f2f7fa;
    font-family: Space Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    left: 80px;
    top: 250px;
  }
  #main--dot {
    color: #6ec8fb;
  }
  #main--track {
    position: absolute;
    height: 62px;
    width: 269px;
    left: 150px;
    top: 1341px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
  }
  #main--trackone {
    color: #f2f7fa;
  }
  #main--tracktwo {
    color: #6ec8fb;
  }
  #main--paragraph {
    color: #f2f7fa;
    position: absolute;
    height: 92px;
    width: 641px;
    left: 150px;
    top: 1430px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  #main--randomrectangle1 {
    background-color: #c4c4c4;
    position: absolute;
    height: 200px;
    width: 300px;
    left: 950px;
    top: 1344px;
    border-radius: 20px;
  }
  #main--commited {
    position: absolute;
    height: 62px;
    width: 269px;
    left: 981px;
    top: 1650px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
  }
  #main--commitedone {
    color: #f2f7fa;
  }
  #main--commitedtwo {
    color: #6ec8fb;
  }
  #main--paragraph2 {
    color: #f2f7fa;
    position: absolute;
    height: 92px;
    width: 641px;
    left: 609px;
    top: 1730px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
  }
  #main--randomrectangle2 {
    position: absolute;
    height: 200px;
    width: 300px;
    left: 150px;
    top: 1670px;
    border-radius: 20px;
    background-color: #c4c4c4;
  }
  #map--main {
    background-color: #c4c4c4;
    width: 100%;
    height: 475px;
    position: absolute;
  }
  #map--what {
    color: #f2f7fa;
    position: absolute;
    height: 31px;
    width: 186px;
    left: 607px;
    top: 50px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--ellipse1 {
    background-image: url(./images/Ellipse\ 1.svg);
    position: absolute;
    height: 20px;
    width: 20px;
    left: 690px;
    top: 100px;
    border-radius: 0px;
  }
  #map--smallline {
    background-image: url(./images/Rectanglesmall.svg);
    position: absolute;
    height: 60px;
    width: 4px;
    left: 698px;
    top: 130px;
    border-radius: 2px;
  }
  #map--ellipse2 {
    background-image: url(./images/Ellipse\ 1.svg);
    position: absolute;
    height: 20px;
    width: 20px;
    left: 690px;
    top: 200px;
    border-radius: 0px;
  }
  #map--biglineright {
    background-image: url(./images/Rectanglebig.svg);
    position: absolute;
    height: 4px;
    width: 380px;
    left: 720px;
    top: 208px;
    border-radius: 2px;
  }
  #map--ellipse3 {
    background-image: url(./images/Ellipse\ 1.svg);
    position: absolute;
    height: 20px;
    width: 20px;
    left: 1110px;
    top: 200px;
    border-radius: 0px;
  }
  #map--buildhomes {
    color: #6ec8fb;
    position: absolute;
    height: 23px;
    width: 228px;
    left: 1006px;
    top: 230px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--buildhomestext {
    color: #f2f7fa;
    position: absolute;
    height: 108px;
    width: 262px;
    left: 989px;
    top: 259px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--empowercommunities {
    color: #6ec8fb;
    position: absolute;
    height: 23px;
    width: 228px;
    left: 586px;
    top: 230px;
    border-radius: nullpx;

    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--empowercommunitiestext {
    color: #f2f7fa;
    position: absolute;
    height: 108px;
    width: 262px;
    left: 569px;
    top: 259px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--biglineleft {
    background-image: url(./images/Rectanglebig.svg);
    position: absolute;
    height: 4px;
    width: 380px;
    left: 300px;
    top: 208px;
    border-radius: 2px;
  }
  #map--ellipse4 {
    background-image: url(./images/Ellipse\ 1.svg);
    position: absolute;
    height: 20px;
    width: 20px;
    left: 270px;
    top: 200px;
    border-radius: 0px;
  }
  #map--drillwells {
    color: #6ec8fb;
    position: absolute;
    height: 23px;
    width: 228px;
    left: 166px;
    top: 230px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--drillwellstext {
    color: #f2f7fa;
    position: absolute;
    height: 108px;
    width: 262px;
    left: 149px;
    top: 259px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
  #launch--main {
    background-color: #c4c4c4;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 2400px;
  }
  #launch--prepare {
    position: absolute;
    height: 61px;
    width: 444px;
    left: 478px;
    top: 50px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
  }
  #launch--preparefor {
    color: #f2f7fa;
  }
  #launch--launch {
    color: #6ec8fb;
  }
  #launch--savethedate {
    position: absolute;
    color: #f2f7fa;
    height: 23px;
    width: 241px;
    left: 590px;
    top: 140px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #launch--socialmedia {
    position: absolute;
    color: #f2f7fa;
    height: 23px;
    width: 353px;
    left: 524px;
    top: 185px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #launch--twitter {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 570px;
    top: 250px;
    border-radius: 10px;
    background-color: transparent;
    background-image: url(./images/twitter-round.svg);
  }
  #launch--medium {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 640px;
    top: 250px;
    border-radius: 10px;
    background-image: url(./images/medium.svg);
    background-color: transparent;
  }
  #launch--telegram {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 710px;
    top: 250px;
    border-radius: 10px;
    background-color: transparent;
    background-image: url(./images/telegram-black.svg);
  }
  #launch--discord {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 775px;
    top: 250px;
    border-radius: 10px;
    background-color: transparent;
    background-image: url(./images/logo-discord.svg);
  }
  #launch--copyright {
    color: #979797;
    position: absolute;
    height: 13px;
    width: 232px;
    left: 79px;
    top: 440px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    display: none;
  }
  #launch--decision {
    color: #979797;
    position: absolute;
    height: 13px;
    width: 303px;
    left: 43px;
    top: 450px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  #nav--main {
    position: relative;
    height: 600px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: [object Object]px;

    border-radius: [object Object]px;
    background-image: url(./images/Rectanglebackground.svg);
    background-repeat: no-repeat;
    background-color: #c4c4c4;
    background-size: cover;
  }

  #nav--aquaDAO {
    position: absolute;
    height: 23px;
    width: 79px;
    left: 30px;
    top: 50px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #c4c4c4;
  }
  #nav--need {
    position: absolute;
    height: 305px;
    width: 303px;
    left: 30px;
    top: 130px;
    border-radius: nullpx;

    font-family: Space Grotesk;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #c4c4c4;
  }
  #main--main {
    background-color: #c4c4c4;
    width: 100%;
    height: 1850px;
  }
  #main--neededchange {
    position: absolute;
    height: 62px;
    width: 280px;
    left: 50px;
    top: 620px;
    border-radius: nullpx;

    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
  }

  #main--creatingchange {
    color: #f2f7fa;
  }
  #main--needed {
    color: #6ec8fb;
  }
  #main--mission {
    color: #f2f7fa;
    position: absolute;
    height: 138px;
    width: 330px;
    left: 20px;
    top: 740px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #main--doneback {
    position: absolute;
    background-color: #c4c4c4;
    height: 278px;
    width: 350px;
    left: 15px;
    top: 970px;
    border-radius: 20px;
  }
  #main--done {
    position: absolute;
    height: 183px;
    width: 242px;
    left: 65px;
    top: 970px;
    border-radius: nullpx;
    color: #f2f7fa;
    font-family: Space Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
  }
  #main--paranthesis {
    color: #f2f7fa;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    left: 20px;
    top: 190px;
  }
  #main--click {
    position: absolute;
    left: 20px;
    top: 200px;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    height: 20px;
    width: 40px;
    border-radius: nullpx;

    color: #6ec8fb;
  }
  #main--clickcont {
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #f2f7fa;
    position: absolute;
    height: 20px;
    width: 190px;
    left: 60px;
    top: 200px;
    border-radius: nullpx;
  }
  #main--track {
    position: absolute;
    height: 62px;
    width: 269px;
    left: 30px;
    top: 1249px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
  }
  #main--trackone {
    color: #f2f7fa;
  }
  #main--tracktwo {
    color: #6ec8fb;
  }
  #main--paragraph {
    color: #f2f7fa;
    position: absolute;
    height: 207px;
    width: 300px;
    left: 30px;
    top: 1330px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  #main--randomrectangle1 {
    background-image: url(./images/realresultspic.jpeg);
    background-size: cover;
    position: absolute;
    height: 200px;
    width: 330px;
    left: 30px;
    top: 1557px;
    border-radius: 20px;
  }
  #main--commited {
    position: absolute;
    height: 62px;
    width: 215px;
    left: 30px;
    top: 1800px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
  }
  #main--commitedone {
    position: absolute;
    left: 0px;
    color: #f2f7fa;
  }
  #main--commitedtwo {
    color: #6ec8fb;
    position: absolute;
    top: 30px;
    left: 0px;
  }
  #main--paragraph2 {
    color: #f2f7fa;
    position: absolute;
    height: 184px;
    width: 300px;
    left: 30px;
    top: 1880px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  #main--randomrectangle2 {
    position: absolute;
    background-image: url(./images/biggestproblemspic.jpeg);
    background-size: cover;
    height: 200px;
    width: 330px;
    left: 30px;
    top: 2166px;
    border-radius: 20px;

    background-color: #c4c4c4;
  }
  #map--main {
    background-color: #c4c4c4;
    width: 100%;
    height: 750px;
  }
  #map--what {
    color: #f2f7fa;
    position: absolute;
    height: 31px;
    width: 186px;
    left: 20px;
    top: 30px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--ellipse1 {
    background-image: url(./images/Ellipse\ 1.svg);
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    top: 140px;
    border-radius: 0px;
  }
  #map--smallline {
    background-image: url(./images/Rectanglesmall.svg);
    position: absolute;
    height: 200px;
    width: 4px;
    left: 8px;
    top: 170px;
    border-radius: 2px;
  }
  #map--ellipse2 {
    background-image: url(./images/Ellipse\ 1.svg);
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    top: 385px;
    border-radius: 0px;
  }
  #map--biglineright {
    background-image: url(./images/Rectanglebig.svg);
    position: absolute;
    height: 4px;
    width: 380px;
    left: 720px;
    top: 100px;
    border-radius: 2px;
    display: none;
  }
  #map--ellipse3 {
    background-image: url(./images/Ellipse\ 1.svg);
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    top: 630px;
    border-radius: 0px;
  }
  #map--buildhomes {
    color: #6ec8fb;

    position: absolute;
    height: 23px;
    width: 228px;
    left: 0px;
    top: 579px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--buildhomestext {
    color: #f2f7fa;
    position: absolute;
    height: 108px;
    width: 262px;
    left: 30px;
    top: 606px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  #map--empowercommunities {
    color: #6ec8fb;
    position: absolute;
    height: 23px;
    width: 50px;
    left: 35px;
    top: 339px;
    border-radius: nullpx;

    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--empowercommunitiestext {
    color: #f2f7fa;
    position: absolute;
    height: 90px;
    width: 262px;
    left: 34px;
    top: 370px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  #map--biglineleft {
    background-image: url(./images/rectanglemobile.png);
    position: absolute;
    height: 200px;
    width: 4px;
    left: 8px;
    top: 420px;
    border-radius: 2px;
  }
  #map--ellipse4 {
    background-image: url(./images/Ellipse\ 1.svg);
    position: absolute;
    height: 20px;
    width: 20px;
    left: 270px;
    top: 1100px;
    border-radius: 0px;
    display: none;
  }
  #map--drillwells {
    color: #6ec8fb;
    position: absolute;
    height: 23px;
    width: 228px;
    left: 5px;
    top: 99px;
    border-radius: nullpx;

    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #map--drillwellstext {
    color: #f2f7fa;
    position: absolute;
    height: 108px;
    width: 262px;
    left: 30px;
    top: 126px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  #launch--main {
    background-color: #c4c4c4;
    width: 100%;
    height: 380px;
    top: 3200px;
  }
  #launch--prepare {
    position: absolute;
    height: 138px;
    width: 151px;
    left: 30px;
    top: 0px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
  }
  #launch--preparefor {
    color: #f2f7fa;
  }
  #launch--launch {
    color: #6ec8fb;
  }
  #launch--savethedate {
    position: absolute;
    color: #f2f7fa;
    height: 138px;
    width: 151px;
    left: 30px;
    top: 150px;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  #launch--socialmedia {
    position: absolute;
    color: #f2f7fa;
    height: 23px;
    width: 99px;
    left: 20px;
    border-radius: nullpx;

    top: 220px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  #launch--twitter {
    position: absolute;
    background-image: url(./images/twitter-round.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    left: 25px;
    top: 330px;
    border-radius: 10px;
  }
  #launch--medium {
    position: absolute;
    background-image: url(./images/medium.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    left: 90px;
    top: 330px;
    border-radius: 10px;
  }
  #launch--telegram {
    background-image: url(./images/telegram-black.svg);
    background-size: cover;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 155px;
    top: 330px;
    border-radius: 10px;
  }

  #launch--discord {
    position: absolute;
    background-image: url(./images/logo-discord.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    left: 215px;
    top: 330px;
    border-radius: 10px;
  }
  #launch--copyright {
    color: #979797;
    position: absolute;
    height: 13px;
    width: 232px;
    left: 79px;
    top: 440px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }
  #launch--decision {
    color: #979797;
    position: absolute;
    height: 13px;
    width: 303px;
    left: 43px;
    top: 450px;
    border-radius: nullpx;
    font-family: Space Grotesk;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }
}
